*{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;
    width: 100%;
}

#div-1,#div-2,body{
    display: flex;
}

#div-1{
    height: 100%;
    width: 90%;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: end;
}

#div-2{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: end;
    align-items: end;
}

p{
    font-family: 'Mulish', sans-serif;
}

#header{
    height: 3.9%;
    display: flex;
}

#main{
    height: 71.556944444%;
    display: flex;
}

#footer{
    height: 3.055555555%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header, #main, #footer{
    width: 81.25%;
}

.div-h{
    width: 50%;
    height: 100%;
    display: flex;
}

#h-r{
    display: flex;
    justify-content: end;
    align-items: center;
}

#inner-h-r{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 200%;
    margin-right: 10%;
}

#balls{
    width: 7vh;
    height: 7vh;
}

.m-div{
    height: 100%;
    width: 50%;
}

#fitness-jump{
    width: 100%;
    height: 100%;
}

.bold{
    font-weight: 900;
}

#m-l{
    display: flex;
    flex-flow: column;
}

#div-top, #div-bottom{
    height: 100%;
    width: 100%;
    display: flex;
}

#div-top{
    flex-flow: column;
    justify-content: space-evenly;
}

#btn{
    background-color: #69B99D;
    width: 25%;
    height: 17%;
    border-radius: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#whatsapp{
    width: 15%;
    height: 45%;
}